[submodule "playbooks/omnia"]
	path = playbooks/omnia
	url = git@github.com:openflighthpc/omnia
[submodule "roles/stack-openhpc"]
	path = roles/stack-openhpc
	url = git@github.com:stackhpc/ansible-role-openhpc
